<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>v-for와 v-if 같이 사용하기</h2>
        <input type="number" v-model.number="count">
        <ul>
            <!--키값 설정 권고! (vue 성능을위해)-->
            <!-- === : 값, 타입 같은것 -->
            <li v-for="ssafy in ssafys" :key="ssafy.region" v-if="ssafy.count === count"> 
                {{ssafy.region}} : {{ssafy.count}}개
            </li>
             <!-- v-for/v-if 같이 쓰면 안됨! 써야한다면 computed 정의하고 해야함 -->
            <li v-for="ssafy in matchSsafy" :key="ssafy.region" v-if="ssafy.count === count"> 
                {{ssafy.region}} : {{ssafy.count}}개
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el : "#app",
            data() {
                return {
                    count :0,
                    ssafys: [
                        {region : "부울경", count:2},
                        {region : "구미", count:3},
                        {region : "대전", count:3},
                        {region : "광주", count:2},
                        {region : "서울", count:8},
                    ],
                }
            },
            computed:{
                matchSsafy: function(){
                    console.log("computed");
                    return this.ssafys.filter(ssafy => ssafy.count === this.count);
                }
            }
        });
    </script>
</body>
</html>